# Hi Nagesh this is my first class to move from cement industry!!!

In [1]:
x= 5
y ="Nagesh"
print(x)
print(y)

5
Nagesh

In [2]:
a = 4
A = "four"
print(a)
print(A)

4
four

In [3]:
x,y,z = "ram","sham","krishna"
print(x)
print(y)
print(z)

ram
sham
krishna

In [4]:
x=y=z="nagesh"
print(x)
print(y)
print(z)

nagesh
nagesh
nagesh

In [6]:
fruits = ['apple','banana','cherry']
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [9]:
a1= 'hi'
a2= 'this is Nagesh'
a1+a2

hithis is Nagesh

In [10]:
print(a1+a2)

hithis is Nagesh

In [11]:
print(a1,a2)

hi this is Nagesh

In [12]:
a1 =100
a2 ="ramesh"
a1+a2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
print(a1,a2)

100 ramesh

In [14]:
print(a1+a2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'